@charset "UTF-8";

:root {
  --soft-black: #333;
  --soft-blue: #66f;
}

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, skyblue, #fff);
  color: var(--soft-black);
  height: 100vh;
}

#countries-guide {
  background-color: #fff;
  border: 7px double var(--soft-black);
  border-radius: 10px;
  padding: 15px;
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countries-guide__title,
#countries-guide__description {
  margin-bottom: 25px;
}

#countries-guide__title {
  font-size: 1.7rem;
  font-weight: bold;
}

#countries-guide__description {
  font-size: 1.15rem;
  text-align: justify;
}

#countries-guide__name-input,
#countries-guide__search-button {
  border: none;
}

#countries-guide__name-input {
  border-bottom: 2px solid var(--soft-black);
  font-size: 1.05rem;
  outline: none;
  margin: 0 3px;
  width: 180px;
}

#countries-guide__name-input:focus {
  border-color: var(--soft-blue);
}

#countries-guide__name-input::placeholder {
  font-size: 1rem;
}

#countries-guide__search-button {
  background-color: var(--soft-blue);
  color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
}

#countries-guide__search-button:hover {
  cursor: pointer;
  transform: scale(.95);
}

#countries-guide__search-button:active {
  transform: scale(1);
}

#countries-guide__loader {
  margin-top: 25px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--soft-blue);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#countries-guide__info {
  line-height: 1.5rem;
  margin: 25px 0 0 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countries-guide__flag {
  width: 45%;
}

#countries-guide__name,
#countries-guide__infos {
  margin-top: 15px;
}

#countries-guide__name,
#countries-guide__infos h4 {
  font-weight: bold;
}

#countries-guide__name {
  font-size: 1.15rem;
  text-transform: uppercase;
}

#countries-guide__infos {
  width: 100%;
}

#countries-guide__infos span {
  font-weight: normal;
}

*[class*="hidden"] {
  display: none !important;
}